In [1]:
# Connecting to an API/Pulling in the data and cleaning/formatting
import pandas as pd
import quandl
import json
import os
import datetime as dt

In [2]:
# Open the quandlAPI.json file to read the api key
with open('quandlAPI.json') as f:
    keys = json.load(f)
    quandlapi = keys['api_key']

quandl.ApiConfig.api_key = quandlapi

In [3]:
list_of_tkrs = ['AAPL','AMZN','LULU','BAC','T']
data_aapl = quandl.get('WIKI/AAPL', paginate = True)

In [4]:
data_aapl.head(5)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [29]:
list_of_ticker = ['AAPL','AMZN']
len(list_of_ticker)
for i in range(len(list_of_ticker)):
    TK = list_of_ticker[i]
    print('Loop:','WIKI/'+TK)

Loop: WIKI/AAPL
Loop: WIKI/AMZN

In [6]:
start = dt.date(2020,10,1)
start.isoformat()

'2020-10-01'

In [46]:
# Loading the data from the API into a pandas dataframe
start = dt.date(2018,1,31)
end = dt.date(2018,12,31)
# data = quandl.get("FRED/GDP", start_date="2001-12-31", end_date="2005-12-31")
# data_aapl_tsp = quandl.get("WIKI/AAPL", rows=10)
list_of_ticker = ['AAPL','AMZN']
# Empty list to append the data in the loop
df_data_comb = []
for i in range(len(list_of_ticker)):
    TK = list_of_ticker[i]
    # print(quandl.get('WIKI/'+TK, start_date=start, end_date=end))
    tmp_data = quandl.get('WIKI/'+TK, start_date=start, end_date=end)
    # tmp_data.insert(0,'Ticker', TK)
    # df_data_comb.append(tmp_data)

# df_data = pd.DataFrame(df_data_comb) 
# df_data.head(5)
tmp_data.head

<bound method NDFrame.head of                Open     High      Low    Close      Volume  Ex-Dividend  \
Date
2018-01-31  1451.30  1472.58  1450.04  1451.65   6220396.0          0.0
2018-02-01  1445.00  1459.88  1385.14  1390.00   7812953.0          0.0
2018-02-02  1477.39  1498.00  1414.00  1431.00  10915962.0          0.0
2018-02-05  1402.62  1458.98  1320.72  1396.62  10756332.0          0.0
2018-02-06  1361.46  1443.99  1351.79  1442.84  10773963.0          0.0
2018-02-07  1449.00  1460.99  1415.15  1416.78   7066828.0          0.0
2018-02-08  1429.67  1433.75  1349.94  1350.47   8108560.0          0.0
2018-02-09  1373.49  1383.50  1265.93  1338.99  13787886.0          0.0
2018-02-12  1364.67  1393.81  1344.01  1386.23   6682214.0          0.0
2018-02-13  1385.93  1419.72  1383.53  1414.51   5858860.0          0.0
2018-02-14  1406.25  1452.06  1403.36  1451.05   5881238.0          0.0
2018-02-15  1466.89  1468.94  1436.84  1461.76   5598111.0          0.0
2018-02-16  1457.37  1465.80  1446.56  1448.69   4410879.0          0.0
2018-02-20  1446.49  1488.77  1446.49  1468.35   6388374.0          0.0
2018-02-21  1485.00  1503.49  1478.92  1482.92   6216694.0          0.0
2018-02-22  1495.36  1502.54  1475.76  1484.76   4732555.0          0.0
2018-02-23  1495.34  1500.00  1486.50  1500.00   4327008.0          0.0
2018-02-26  1509.20  1522.84  1507.00  1521.95   4909053.0          0.0
2018-02-27  1524.50  1526.78  1507.21  1511.98   4708378.0          0.0
2018-02-28  1519.51  1528.70  1512.00  1512.45   4426580.0          0.0
2018-03-01  1513.60  1518.49  1465.00  1493.45   6835230.0          0.0
2018-03-02  1469.10  1501.05  1455.01  1500.25   6587564.0          0.0
2018-03-05  1494.24  1525.38  1481.00  1523.61   5233934.0          0.0
2018-03-06  1533.20  1542.13  1528.00  1537.64   4561718.0          0.0
2018-03-07  1526.52  1545.90  1522.51  1545.00   4174123.0          0.0
2018-03-08  1550.00  1554.88  1545.25  1551.86   3512528.0          0.0
2018-03-09  1563.50  1578.94  1559.08  1578.89   4417059.0          0.0
2018-03-12  1592.60  1605.33  1586.70  1598.39   5115886.0          0.0
2018-03-13  1615.96  1617.54  1578.01  1588.18   6427066.0          0.0
2018-03-14  1597.00  1606.44  1590.89  1591.00   4164395.0          0.0
2018-03-15  1595.00  1596.91  1578.11  1582.32   4026744.0          0.0
2018-03-16  1583.45  1589.44  1567.50  1571.68   5145054.0          0.0
2018-03-19  1554.53  1561.66  1525.35  1544.93   6376619.0          0.0
2018-03-20  1550.34  1587.00  1545.41  1586.51   4507049.0          0.0
2018-03-21  1586.45  1590.00  1563.17  1581.86   4667291.0          0.0
2018-03-22  1565.47  1573.85  1542.40  1544.10   6177737.0          0.0
2018-03-23  1539.01  1549.02  1495.36  1495.56   7843966.0          0.0
2018-03-26  1530.00  1556.99  1499.25  1555.86   5547618.0          0.0
2018-03-27  1572.40  1575.96  1482.32  1497.05   6793279.0          0.0

            Split Ratio  Adj. Open  Adj. High  Adj. Low  Adj. Close  \
Date
2018-01-31          1.0    1451.30    1472.58   1450.04     1451.65
2018-02-01          1.0    1445.00    1459.88   1385.14     1390.00
2018-02-02          1.0    1477.39    1498.00   1414.00     1431.00
2018-02-05          1.0    1402.62    1458.98   1320.72     1396.62
2018-02-06          1.0    1361.46    1443.99   1351.79     1442.84
2018-02-07          1.0    1449.00    1460.99   1415.15     1416.78
2018-02-08          1.0    1429.67    1433.75   1349.94     1350.47
2018-02-09          1.0    1373.49    1383.50   1265.93     1338.99
2018-02-12          1.0    1364.67    1393.81   1344.01     1386.23
2018-02-13          1.0    1385.93    1419.72   1383.53     1414.51
2018-02-14          1.0    1406.25    1452.06   1403.36     1451.05
2018-02-15          1.0    1466.89    1468.94   1436.84     1461.76
2018-02-16          1.0    1457.37    1465.80   1446.56     1448.69
2018-02-20          1.0    1446.49    1488.77   1446.49     1468.35
2018-02-21          1.0    1485.00    1503.49   1478.92     1482.92
2018-02-22          1.0    1495.36    1502.54   1475.76     1484.76
2018-02-23          1.0    1495.34    1500.00   1486.50     1500.00
2018-02-26          1.0    1509.20    1522.84   1507.00     1521.95
2018-02-27          1.0    1524.50    1526.78   1507.21     1511.98
2018-02-28          1.0    1519.51    1528.70   1512.00     1512.45
2018-03-01          1.0    1513.60    1518.49   1465.00     1493.45
2018-03-02          1.0    1469.10    1501.05   1455.01     1500.25
2018-03-05          1.0    1494.24    1525.38   1481.00     1523.61
2018-03-06          1.0    1533.20    1542.13   1528.00     1537.64
2018-03-07          1.0    1526.52    1545.90   1522.51     1545.00
2018-03-08          1.0    1550.00    1554.88   1545.25     1551.86
2018-03-09          1.0    1563.50    1578.94   1559.08     1578.89
2018-03-12          1.0    1592.60    1605.33   1586.70     1598.39
2018-03-13          1.0    1615.96    1617.54   1578.01     1588.18
2018-03-14          1.0    1597.00    1606.44   1590.89     1591.00
2018-03-15          1.0    1595.00    1596.91   1578.11     1582.32
2018-03-16          1.0    1583.45    1589.44   1567.50     1571.68
2018-03-19          1.0    1554.53    1561.66   1525.35     1544.93
2018-03-20          1.0    1550.34    1587.00   1545.41     1586.51
2018-03-21          1.0    1586.45    1590.00   1563.17     1581.86
2018-03-22          1.0    1565.47    1573.85   1542.40     1544.10
2018-03-23          1.0    1539.01    1549.02   1495.36     1495.56
2018-03-26          1.0    1530.00    1556.99   1499.25     1555.86
2018-03-27          1.0    1572.40    1575.96   1482.32     1497.05

            Adj. Volume
Date
2018-01-31    6220396.0
2018-02-01    7812953.0
2018-02-02   10915962.0
2018-02-05   10756332.0
2018-02-06   10773963.0
2018-02-07    7066828.0
2018-02-08    8108560.0
2018-02-09   13787886.0
2018-02-12    6682214.0
2018-02-13    5858860.0
2018-02-14    5881238.0
2018-02-15    5598111.0
2018-02-16    4410879.0
2018-02-20    6388374.0
2018-02-21    6216694.0
2018-02-22    4732555.0
2018-02-23    4327008.0
2018-02-26    4909053.0
2018-02-27    4708378.0
2018-02-28    4426580.0
2018-03-01    6835230.0
2018-03-02    6587564.0
2018-03-05    5233934.0
2018-03-06    4561718.0
2018-03-07    4174123.0
2018-03-08    3512528.0
2018-03-09    4417059.0
2018-03-12    5115886.0
2018-03-13    6427066.0
2018-03-14    4164395.0
2018-03-15    4026744.0
2018-03-16    5145054.0
2018-03-19    6376619.0
2018-03-20    4507049.0
2018-03-21    4667291.0
2018-03-22    6177737.0
2018-03-23    7843966.0
2018-03-26    5547618.0
2018-03-27    6793279.0  >

In [42]:
by_ticker=df_data.groupby('Ticker')

In [38]:
by_ticker.count()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Ticker,,,,,,,,,,,,
AMZN,39,39,39,39,39,39,39,39,39,39,39,39

In [43]:
df_data_comb

Empty DataFrame
Columns: []
Index: []